<nav class="mainnav">
  <ul>
    {% for item in site.data.nav.entries %}
    <li>
      {% assign firstchar = item.path | slice: 0 %}
      {% if firstchar == '/' %}
      {% assign itempath = item.path %}
      {% else %}
      {% assign itempath = '/' | append: item.path %}
      {% endif %}
      <a href="{{ itempath }}" {% if page.url == itempath %}class="active"{% endif %}>
        {{ item.title }}
      </a>
      {% if item.subentries %}
      <ul>
        {% for subitem in item.subentries %}
        <li>
      {% assign firstchar = subitem.path | slice: 0 %}
      {% if firstchar == '/' %}
      {% assign subitempath = subitem.path %}
      {% else %}
      {% assign subitempath = '/' | append: subitem.path %}
      {% endif %}
          <a href="{{ subitempath }}" {% if page.url == subitempath %}class="active"{% endif %}>
            {{ subitem.title }}
          </a>
        </li>
        {% endfor %}
      </ul>
      {% endif %}
    </li>
    {% endfor %}
  </ul>
</nav>
