<!DOCTYPE html>
{%- assign language = page.language | default: site.site_language | default: "en" %}
<html xmlns="http://www.w3.org/1999/xhtml" lang="{{ language }}" xml:lang="{{ language }}">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes" />
  <title>{{ page.title }}</title>
  <link rel="stylesheet" href="css/style.css" />
  <!--[if lt IE 9]>
    <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv-printshiv.min.js"></script>
  <![endif]-->
</head>
<body>
    {% include navigation.html %}
    <div class="maincontent">
    {{ content }}
    </div>
</body>
</html>
